<?xml version="1.0" ?>
<robot name="threelink">
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <link name="base_link">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.0041666666666666675" ixy="0.0" ixz="0.0" iyy="0.0041666666666666675" iyz="0.0" izz="0.001666666666666667"/>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.2"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="link1_joint" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0 0.1 0.15"/>
    <limit effort="100.0" velocity="1000.0"/>
  </joint>
  <link name="link1">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.008333333333333333" ixy="0.0" ixz="0.0" iyy="0.008333333333333333" iyz="0.0" izz="0.001666666666666667"/>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
    </collision>
  </link>
  <joint name="link2_joint" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0 -0.1 0.2"/>
    <limit effort="100.0" velocity="1000.0"/>
  </joint>
  <link name="link2">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.008333333333333333" ixy="0.0" ixz="0.0" iyy="0.008333333333333333" iyz="0.0" izz="0.001666666666666667"/>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
    </collision>
  </link>
  <joint name="link3_joint" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0 0.1 0.2"/>
    <limit effort="100.0" velocity="1000.0"/>
  </joint>
  <link name="link3">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.008333333333333333" ixy="0.0" ixz="0.0" iyy="0.008333333333333333" iyz="0.0" izz="0.001666666666666667"/>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
    </collision>
  </link>
</robot>
